.more-info {
    margin-left: 20px;
    color: var(--third-text);
}

.info-container-box {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-emphasis: center;
    background-color: var(--background);
}

.info-container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 400px;
    gap: 30px;
    transition: 0.3s;
}

.info-container li {
    position: relative;
    overflow: hidden;
    flex: 0 0 150px;
    border-radius: 30px;
    cursor: pointer;
    border: 1.2px solid #eee;
    box-shadow:  5px 10px 15px rgba(0, 0, 0, 0.4),
    -2px -5px 10px rgba(0, 0, 0, 0.1);

}

.info-container li img {
    position: absolute;
    top: 50%;
    left: 50%;
    translate:  -50% -50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-container li,
.info-container li img {
    transition: 0.3s;
}

.info-container li .content {
    transition: 1.5s ease;
}

.info-container span {
    text-align: center;
    width: 175%;
}

.info-container h2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 4px;
    margin-bottom: 3px;
    white-space: nowrap;
    color: #eee;
}

.info-container p {
    color: #ddd;
    font-size: 10px;
    width: 100%;
}

.info-container li .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    color: #fff;
    padding: 15px;
    background: linear-gradient(0deg, rgb(0 0 0 / 70%) 10%,
    rgb(255 255 255 / 0%) 100%);
    opacity: 0;
    visibility: hidden;
}

.info-container:hover {
    gap:0;
}

.info-container li .content span{
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 0px;
    translate: -50%;
    scale: 0.85;
    visibility: hidden;
    opacity: 0;
}

.info-container li:hover{
    flex: 0 1 360px;
    scale: 1.1;
    z-index: 10;
    opacity: 1;
}


.info-container li:hover .content{
    opacity: 1;
    visibility: visible;
}

.info-container li:hover span{
    scale: 1;
    opacity: 1;
    visibility: visible;
}