.intro {
    text-align: center;
    padding:  3rem 12rem 3rem 12rem;
    background-color: var(--card);
    border-radius: 0 0 12px 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    margin-bottom: 1rem;
    z-index: 99;
    margin-left: -2px; /* Pulls the element slightly to the left */

}

.intro h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--text-color);
}

.intro p {
    font-size: 1.2rem;
    color: var(--secondary);
    max-width: 800px;
    margin: 0 auto 2rem;
}